# Dependencies
node_modules/

# Build outputs
frontend/dist/*
!frontend/dist/.gitkeep

laravel/resources/views/*
!laravel/resources/views/.gitkeep

laravel/public/assets/*
!laravel/public/assets/.gitkeep

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Environment
.env