<!-- ============================================= -->
<!-- FOOTER - Copyright & Version Info            -->
<!-- ============================================= -->
<footer class="app-footer">
    <div class="float-end d-none d-sm-inline">v1.0.1 (Demo)</div>

    <strong>
        Powered by
        <a href="https://malaralamtechnology.com.my" target="_blank" class="text-decoration-none">
            &nbsp;Malar
            Alam
            Technology &nbsp; </a>
    </strong>
    &copy; 2025 All rights reserved.
</footer>