<!-- ============================================= -->
<!-- HEADER PARTIAL - Page Title & Breadcrumbs   -->
<!-- ============================================= -->
<div class="app-header">
    <div class="container-fluid">

        <div class="row mb-2">

            <!-- Page Title -->
            <div class="col-sm-6">
                <h1 class="m-0">@@pageTitle</h1>
            </div>

            <!-- Page Breadcrumbs -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
                    <li class="breadcrumb-item active">@@breadcrumb</li>
                </ol>
            </div>
        </div>

    </div>
</div>